<!DOCTYPE html>
<html>
<head>
<title>Ruchi Pakhle - My Resume</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> 




</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
		    <%= image_tag('headshot.jpg', alt: "Ruchi Pakhle") %>
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Ruchi Pakhle</h1>
			<h2 class="quickFade delayThree">Job Title</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>email: <a href="mailto:joe@bloggs.com" target="_blank"> ruchipakhle@gmail.com</a></li>
				<li>linkedin: <a href="https://www.linkedin.com/in/ruchi-pakhle-a0a5311b0/"> Ruchi Pakhle</a></li>
				<li>twitter: <a href="https://twitter.com/Ruchicodess"> @Ruchicodess</a></li>
				<li>Phone: 9167527193</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>What I Do</h1>
				</div>
				
				<div class="sectionContent">
					<p>I'm Ruchi Pakhle, currently pursuing my Bachelor's degree in Computer Science Engineering with a 9.88 GPA. I have a good hold over these technical skills, including Data Structures & Algorithms (C++) and Web Development(MERN).  I'm also a regular contributor to open-source projects. I've worked on several open-source projects, including the GirlScript Summer of Code and Script Fellowship Program. I'm currently working as an open-source contributor at Moja Global,  a mentor for Script Winter of Code 2.0 & an OSS contributor at FOSSASIA.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Open-Source Contributor at Moja-Global</h2>
					<p class="subDetails">Jan 2022 - Present</p>
					<p>Working on a case study for the C++ MRV profiling for the FLINT based on various models and also contributing to moja-global docs repository as a part of the Winter of Code 2.0.</p>
				</article>
				
				<article>
					<h2>Web Developer at DIY</h2>
					<p class="subDetails">June 2021 - September 2021</p>
					<p>Worked on the frontend part for the Resume Build website from scratch using ReactJs and included features that increased the credibility of the web app.</p>
				</article>
				
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>C++</li>
					<li>HTML</li>
					<li>CSS</li>
					<li>JS</li>
					<li>ReactJS</li>
					<li>Git</li>
				
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Mahatma Gandhi Missions College of Engineering & Technology</h2>
					<p class="subDetails">BE - (2019-2023)</p>
					<p>CGPA - 9.88</p>
				</article>
				
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Achievements</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Secured a Rank 3793 among 20K+ applicants in Google Code Jam to I/O for Women 2021</li>
					<li>Secured a position in the top 50 teams & qualified for prototype round in Zeta Hacks 3.0</li>
					
					<br><br/>
				
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
</body>
</html>